<section class="home-section bg-dark-60 portfolio-page-header parallax-bg" id="home" data-background="<%= image_path('portfolio_header_bg.png') %>">
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-30 titan-title-size-1">Hola! Somos</div>
      <div class="font-alt mb-40 titan-title-size-4">Enne</div><a class="section-scroll btn btn-border-w btn-round" href="#portfolio">Nuestros Trabajos</a>
    </div>
  </div>
</section>
